<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->

<head>
<!-- Basic Page Needs -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="AppLora App Landing Page">
<meta name="author" content="Alaa Ahmed">

<!-- Page Title -->
<title>Home</title>

<!-- Mobile Specific Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--
		Google Font
		================================================== -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<!--
		CSS Files
		================================================== -->
<!--<link href="{{ url_for('static', filename='static/css/plugins.css')}}" rel='stylesheet'>
<link href="{{ url_for('static', filename='static/css/style.css')}}" rel='stylesheet'>
<link href="{{ url_for('static', filename='static/css/static/css/colors/theme-color.css')}}" rel='stylesheet' class="color-scheme">-->

<!-- Plugins -->
<link rel="stylesheet" href="static/css/plugins.css">
<!-- Main Style -->
<link rel="stylesheet" href="static/css/style.css">
<link rel="stylesheet" href="static/css/colors/theme-color.css" class="color-scheme">

<!-- Modernizer Script for old Browsers -->
<script src='static/js/modernizr-2.6.2.min.js'></script>
</head>

<body>

<header id="home" class="home bg-image">
	<div class="overlay">

		<!-- Start Navigation Bar -->

		<nav class="navbar navbar-default nav-sec navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- / navbar-header -->
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#home"><span>Home</span></a></li>
						<li><a href="#about"><span>App Demo</span></a></li>
						<li><a href="#appdetail"><span>App Details</span></a></li>
					</ul>
				</div>
				<!-- end nav-collapse -->
			</div>
			<!-- end container -->
		</nav>

		<!-- End Navigation Bar -->

		<div class="container">
			<div class="row">
				<!-- Start Text Header -->
				<div class="col-md-7 col-sm-6">
					<div class="header-inner">
						<div class="header-content">
							<h1 class="home-title word word--magneto wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s">Yelp Talks</h1>
							<h4 class="wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1s">What do Yelpers talk about?</h4>
							<div class="bttn-head">
								<a href="#about" class="bttn-applora-gradient wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1s">
									<i class="icon-control-play"></i>
									<span>App Demo</span>
								</a>
								<a href="#appdetail" class="bttn-applora-gradient wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1s">
									<i class="icon-control-play"></i>
									<span>App Details</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- End Text Header -->
				<!-- Start Photo Here -->
				<div class="col-md-5 col-sm-6">
					<div class="photo-header">
						<!-- <img src="static/img/phone-header.png" alt="Applora Screen" class="img-responsive wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1s"> -->
					</div>
				</div>
				<!-- End Photo Here -->
			</div>
		</div>
		<!-- End Container -->
	</div>
	<!-- End Overlay -->
</header>
<!-- End Header -->

<!--
	End Header
	==================================== -->



<!--
	Start About Section
	==================================== -->

<section id="about" class="about">
	<div class="container">
		<div class="row">
			<div class="mobile-features">
				<!-- Start Mobile Slider -->
				<div class="col-md-4">
					<div class="features-slider owl-carousel owl-theme wow fadeInLeft" data-wow-duration="1s">
						<div class="item">
							<div class="single-feat-img">
								<img src="static/img/about/slider01.jpg" alt="Applora" class="img-responsive">
							</div>
						</div>
						<div class="item">
							<div class="single-feat-img">
								<img src="static/img/about/slider02.jpg" alt="Applora" class="img-responsive">
							</div>
						</div>
						<div class="item">
							<div class="single-feat-img">
								<img src="static/img/about/slider03.jpg" alt="Applora" class="img-responsive">
							</div>
						</div>
						<div class="item">
							<div class="single-feat-img">
								<img src="static/img/about/slider04.jpg" alt="Applora" class="img-responsive">
							</div>
						</div>
						<div class="item">
							<div class="single-feat-img">
								<img src="static/img/about/slider05.jpg" alt="Applora" class="img-responsive">
							</div>
						</div>
					</div>
				</div>
				<!-- End Mobile Slider -->
				<!-- Start Mobile Slider Content -->
				<div class="col-md-8">
					<!-- Start Slider Links -->
					<ul class="nav nav-pills nav-stacked">
						<li class="active-icon" data-owl-item="0"><a href="#tab_a" data-toggle="pill"><i class="fa fa-search"></i></a></li>
						<li data-owl-item="1"><a href="#tab_b" data-toggle="pill"><i class="fa fa-commenting-o"></i></a></li>
						<li data-owl-item="2"><a href="#tab_c" data-toggle="pill"><i class="fa fa-cutlery"></i></a></li>
						<li data-owl-item="3"><a href="#tab_d" data-toggle="pill"><i class="fa fa-coffee"></i></a></li>
						<li data-owl-item="4"><a href="#tab_e" data-toggle="pill"><i class="fa fa-cogs"></i></a></li>
					</ul>
					<!-- End Slider Links -->
					<div class="tab-content">
						<!-- Start Single One -->
						<div class="tab-pane active" id="tab_a" data-owl-item="0">
							<h4>Restaurant Search</h4>
							<p>
								<h6>Bacchanla Buffet</h6>
								Caesars Palace Las Vegas Hotel & Casino
								3570 S Las Vegas Blvd
								Las Vegas, NV 89109
								The Strip
								Phone: (702) 731-7928
							</p>
						</div>
						<!-- End Single One -->
						<!-- Start Single One -->
						<div class="tab-pane" id="tab_b" data-owl-item="1">
							<h4>All Yelp Comments</h4>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p>Omg where do I start the flavors were exquisite dishes abundant presentation beautiful go here it's a must
							</p>

							<span class="fa fa-star checked"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<p>Well, this buffet is the most worst I have been tried. I highly recommend you not to go if you from the city near by ocean or the city cooks good foods. This is not the one for people who have high standards on foods.
							</p>
						</div>
						<!-- End Single One -->
						<!-- Start Single One -->
						<div class="tab-pane" id="tab_c" data-owl-item="2">
							<h4>General Comments</h4>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p>So much high end food and delicious desserts. Its one of the best buffets I've had in Vegas, and i have had them all.
							</p>

							<span class="fa fa-star checked"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<p>The foods are suck. We expect a good quality food but it did not happen in this buffet. TAKE YOUR MONEY AND GO SOMEWHERE ELSE. If u want to eat crab with ice, then enjoy.
							</p>
						</div>
						<!-- End Single One -->
						<!-- Start Single One -->
						<div class="tab-pane" id="tab_d" data-owl-item="3">
							<h4>Appetizer Comments</h4>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p>Took my daughter for breakfast and was overwhelmed.  First plate was fried chicken n waffles, shrimp and grits, steak and eggs, and yogurt with granola.  All good.  Then I got an omelette, which was cooked very well, and then slathered on a bunch of fresh guacamole and salsa.  Finally got some ice cream and cookies.  I missed about 80 percent of the stuff there, too.  Worthwhile for us because it was early and not crowded at all.
							</p>

							<span class="fa fa-star checked"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<p>If you are a vegetarian there's not lot of options for you. The tomato soup tasted horrible, hot n sour soup was good. The chef don't speak English so they can't tell you more about the food at display, you have to go with your instinct about what to eat and what not to eat. Don't taste random things if you have food allergy, menu doesn't specify ingredients.
							</p>
						</div>
						<!-- End Single One -->
						<!-- Start Single One -->
						<div class="tab-pane" id="tab_e" data-owl-item="4">
							<h4>Service Comments</h4>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<p>Amazing variety of great tasting food! You are guaranteed to leave satisfied. Service is great too!
							</p>

							<span class="fa fa-star checked"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<span class="fa fa-star-o"></span>
							<p>Brought our friends while they visit us. We always brought friends here while they visit us. This price for this buffet is increasing but quality is getting worse and worse. It's not worth at all.
							</p>
						</div>
						<!-- End Single One -->
						<!-- Start Single One -->
					</div>
					<!-- End tab content -->
				</div>
				<!-- End Mobile Slider Content -->
			</div>
			<!-- End mobile-features -->
		</div>
		<!-- End row -->
	</div>
	<!-- End Container -->
</section>
<!-- End About -->

<!--
	End About Section
	==================================== -->




<!--
	Start Random Features
	==================================== -->

<section id="appdetail" class="feat-one">
	<div class="container">
		<!-- Start Single One -->
		<div class="row">
			<!-- Start Photo -->
			<div class="col-md-6 col-md-push-6 wow fadeInRight" data-wow-duration="1s">
				<div class="feat-one-img">
					<img src="static/img/about/ModelDetail.jpg" alt="Applora" class="img-responsive" style="width:496px;height:500px;">
				</div>
			</div>
			<!-- End Photo -->
			<!-- Start Text -->
			<div class="col-md-6 col-md-pull-6 wow fadeInLeft" data-wow-duration="1s">
				<div class="feat-one-text">
					<h2>Topic Modelling</h2>
					<p>Latent dirichlet allocation is employed to extract topics from 
					numerous yelp reviews about restaurants. The optimum topic numbers
					is determined by perplexity measure from held-out test set. Manual 
				    topic assignments are based on the top words within each topic.</p>
					<div class="feat-butt">
						<a href="#" class="bttn-applora-gradient">
							<span>Read More</span>
						</a>
					</div>
				</div>
			</div>
			<!-- End Text -->
		</div>
		<!-- end row -->
		<!-- End Single One -->
		<!-- Start Single One -->
		<div class="row">
			<!-- Start Photo -->
			<div class="col-md-6 wow fadeInLeft" data-wow-duration="1s">
				<div class="feat-two-img">
					<img src="static/img/about/predict_word.gif" alt="Applora" class="img-responsive" style="width:600px;height:338px;">
				</div>
			</div>
			<!-- End Photo -->
			<!-- Start Text -->
			<div class="col-md-6 wow fadeInRight" data-wow-duration="1s">
				<div class="feat-two-text">
					<h2>Text Generation</h2>
					<p>Next word generation will be achieved based on Kneyser-Ney algorithm. Rating-based review generation will be achieved by transfer learning. These features will help yelpers to comment their restaurant experience more easily.</p>
					<div class="feat-butt">
						<a href="#" class="bttn-applora-gradient">
							<span>Read More</span>
						</a>
					</div>
				</div>
			</div>
			<!-- End Text -->
		</div>
		<!-- end row -->
		<!-- End Single One -->
	</div>
	<!-- end container -->
</section>
<!-- End feat-one -->

<!--
	End Random Features
	==================================== -->






<!--
		JS Files
		==================================== -->

<!-- Plugins -->
<script src="static/js/plugins.js"></script>
<!-- Custom JS -->
<script src="static/js/custom.js"></script>
<!-- Google Map js -->
<!---<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj9b_nyz33KEaocu6ZOXRgqwwUZkDVEAw"></script>
<script>
	// Google Map
	function initialize() {
		var mapOptions = {
			zoom: 15,
			scrollwheel: false,
			center: new google.maps.LatLng(30.596492, 32.271459)
		};
		var map = new google.maps.Map(document.getElementById('googleMap'),
			mapOptions);
		var marker = new google.maps.Marker({
			position: map.getCenter(),
			animation: google.maps.Animation.BOUNCE,
			icon: 'img/map-marker.png',
			map: map
		});
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>--->
</body>
</html>